.heading{
    margin: 50px;
}
body{
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0, auto;
    
}
.result{
    height: 100px;
    font-size: 40px;
    width: 450px;
    background-color: black;
    color: white;
    padding-right: 10px;
    
}

.history{
    background-color: rgb(54, 52, 52);
    color: rgb(206, 214, 214);
    padding: 10px;
    font-size: 25px;
    height: 50px;
    width: 450px;
}
.keyboard{
    background-color: gray;
    width: 450px;
}
.button{
    margin: 15px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 200px;
    border-width: 0;
    height: 70px;
    width: 70px;   
}
.button:focus{
    outline: 0;
}
.function{
    background-color: tomato;
    
}


